body {
	margin: 0;
}
.google {
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	
}
hr {
width: 1000px;
}
.heading {
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 60px;
}
img {
	max-width: 100%;
}
.banner {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.house {
	width: 100%;
    	height: 500px;
    	object-fit: cover;
}
.heading2 {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding-right: 700px;
}
h1	{
	max-width: 100%;
	font-size: 50px;
}
.para {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;

}
.heading3 {
	width: 1000px;
	background-color: #3cbb3cdb;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 40px;
	padding: 50px;
	box-sizing: border-box;
}
h3 {
	text-align: center;
	font-size: 50px;
}
strong {
	color: #6DA0F5;

}
.strong {
	color: #00cec9;
}
span {
	color: #55efc4;

}
.span {
	color: #ff7675;
}
